1. Given the participants' score sheet for your University Sports Day, you are required to
find the runner-up score. You are given scores. Store them in a list and find the score of
the runner-up. (Create an array of scores and print the runner up score)

In [1]:
list_1=[10,20,55,64,17,38]
list_2=sorted(list_1)
list_2.pop()
#print(list_2)
print("Runner up score : ",max(list_2))

Runner up score :  55

2. A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
Get a name from user if the name in the dictionary change the values corresponding to
that user to [88,77,99] and print the dictionary. Else print ‘Name not found’.

In [2]:
D = {'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

name_to_update=input("Enter a name: ")

if name_to_update in D:

    D[name_to_update]=[88, 77, 99]
    print("Updated dictionary:",D)
else:
    print("Name not found")

Enter a name: Peter
Updated dictionary: {'John': [25, 32, 43], 'Peter': [88, 77, 99], 'Ram': [58, 55, 43], 'Meena': [63, 79, 85]}

3. Ticket Price Calculator:
I. Ask the user to enter their age.
II. Use control statements (if-elif-else) to calculate the ticket price based on the
following conditions:
a. If the age is below 5, the ticket price is free.
b. If the age is between 5 and 12 (inclusive), the ticket price is Rs.10.
c. If the age is above 12, the ticket price is Rs.50.
d. If the age is above 60, the ticket price is free.
e. If the gender is female, the ticket price is 50% of the applicable rates.
III. Display the ticket price to the user.

In [ ]:
age=int(input("Enter your age: "))
ticket_price=0

if age<5:
  ticket_price=0
elif age>=5 and age<=12:
  gender=input("Enter category male/female(M/F) : ")
  if gender=='F':
    ticket_price=(50/100)*10
  else:
    ticket_price=10
elif age>12 and age<60:
  gender=input("Enter category male/female(M/F) : ")
  if gender=='F':
    ticket_price=(50/100)*50
  else:
    ticket_price=50
else:
  ticket_price=0

print("Ticket price: ",ticket_price)

Enter your age: 5
Enter category male/female(M/F) : F
Ticket price:  5.0