1.Write a program to find sum of all elements in a list of integers.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,10]
sum1= sum(l1)
print(sum1)

55

2.
Input a sentence as a string.
a)
Print its length
b)
Print the first half of string

In [ ]:
str_1=input("enter a string: ")
len_1=len(str_1)
print("the length of the string is:",len_1)
half=len_1//2
print("first half of the string:",str_1[0:half])

enter a string: old mcdonald had a farm
the length of the string is: 23
first half of the string: old mcdonal

3.
Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [ ]:
t1=(78,45,32,19,82,77,40,39)
print(type(t1))
#t1[2]=100     TypeError: 'tuple' object does not support item assignment
l1=list(t1)  # convert into a list
print(type(l1))
l1[2]=100   # list is mutable
print(l1)
t1=tuple(l1)  #convert back into a tuple
print(t1)
print(type(t1))

<class 'tuple'>
<class 'list'>
[78, 45, 100, 19, 82, 77, 40, 39]
(78, 45, 100, 19, 82, 77, 40, 39)
<class 'tuple'>

4.
Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a)
Delete the first occurrence of 32
(b)
Delete all occurrences of 40
(c)
Delete the value at index=5
(d)
Modify the value at index=9 as 300
(e)
Add 200 at index=2
(f)
Print the final list with its length, maximum value and sum of all elements

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32) #removes item at index 1

In [ ]:
listA  # first occurance of 32 removed

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [ ]:
print("No.of times '40' appears: ",listA.count(40))
print("Removing all occurances of 40")
item=40
res = [i for i in listA if i != item]  # list comprehension
print(res)
listA=res
print("listA:",listA)    # all occurences of 40 deleted

No.of times '40' appears:  2
Removing all occurances of 40
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
listA: [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [ ]:
listA.pop(5) # element at 5th index deleted
print(listA)

[19, 10, 55, 31, 32, 29, 10, 65, 77]

In [ ]:
listA[8]=300 # modifying element at 9th position
print(listA)

[19, 10, 55, 31, 32, 29, 10, 65, 300]

In [ ]:
listA.insert(2,200) # inserting 200 at 2nd index position
print(listA)

[19, 10, 200, 55, 31, 32, 29, 10, 65, 300]

In [ ]:
print("final list:",listA)
print("length:",len(listA))
print("maximum value:",max(listA))
print("sum of all elements:",sum(listA))

final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
length: 10
maximum value: 300
sum of all elements: 751

5.
Consider a string ”The day has been long”.
(a)
Delete the value at index =4
(b)
Print the string 4 times in a single line with space between each repetition
(c)
Print the string 3 times in a new line each time
(d)
Modify the string at index 7 as ’A’
(e)
Print the string from index 4 to 15
(f)
Print the final string with its length

In [ ]:
str_2="The day has been long"

In [ ]:
str_3=str_2[0:4]
str_4=str_2[5:]
str_res=str_3+str_4
print(str_res)

The ay has been long

In [ ]:
print((str_2+' ')*4)

The day has been long The day has been long The day has been long The day has been long

In [ ]:
print((str_2+'\n')*3)

The day has been long
The day has been long
The day has been long

In [ ]:
modified_str = str_res[:7] + 'A' + str_res[8:]
print(modified_str)

The ay Aas been long

In [ ]:
print(modified_str[4:15])

ay Aas been

In [ ]:
print(len(modified_str))

20

Converting string to list and back

In [ ]:
str_ls="The day has been long"

In [ ]:
lst=list(str_ls)

In [ ]:
print(lst)

['T', 'h', 'e', ' ', 'd', 'a', 'y', ' ', 'h', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ', 'l', 'o', 'n', 'g']

In [ ]:
lst.pop(4)

'd'

In [ ]:
str_ls1=''.join(lst)
print(str_ls1)

The ay has been long

In [ ]:
print((str_ls1+' ')*4)

The ay has been long The ay has been long The ay has been long The ay has been long

In [ ]:
print((str_ls1+'\n')*3)

The ay has been long
The ay has been long
The ay has been long

In [ ]:
new_lst=list(str_ls1)
print(new_lst)

['T', 'h', 'e', ' ', 'a', 'y', ' ', 'h', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ', 'l', 'o', 'n', 'g']

In [ ]:
new_lst[7]='A'
new_str=''.join(new_lst)
print(new_str)

The ay Aas been long

In [ ]:
new_str[4:15]

'ay Aas been'

In [ ]:
len(new_str)

20